*{
    padding: 0;
    margin: 0;

}
body{
    
    background-color: var(--colorA);;
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
:root{
    --colorA:#89CFF0;
}
.selection{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
     
}
 #game{
   display: grid;
   grid-template-columns: repeat(2,1fr);
    
   height: 100vh;
 }
.flexChild{
    display: flex;
   
}
 
.container{
    background-color: var(--colorA);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
    width: 33vw;
    height: 50vh;
   margin-right: 10vw;
    
}
.errorMessage{
    font-size:25px;
    color: red;
    display: none;
    margin-bottom: 25vh;
    margin-left: 5px;
}